<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/> 
    </startup>
	<appSettings>
		<add key="Sensor_Volumen" value="S1"/>
		<add key="Sensor_Humedad" value="S1"/>
		<add key="Sensor_Presion" value="S1"/>
		<add key="Sensor_Temperatura" value="S1"/>
		<add key="UltimoCOM" value="COM3"/>
		<add key="eliminar_r" value="true"/>
		<add key="enviar_r" value="true"/>
		<add key="eliminar_n" value="true"/>
		<add key="enviar_n" value="true"/>

	</appSettings>
</configuration>
